<h1 class="header">Clinical Research Coordinator Command Center</h1>

<p>Clinical Research Coordinators (CRC) may use this site to manage multiple study components such as Institutional Review Board due dates, aggregrate patient accrual totals, and (optional) study personnel contact information. No confidential patient information is stored within this site.</p>

<%= link_to "Login to Your Dashboard", new_user_session_path, class: "button-login" %>

<%= link_to "Create a New Dashboard", new_user_registration_path, class: "button-create" %>

<p class="footer">&copy2018</p>