<h1 class="header">Clinical Research Coordinator Command Center</h1><br>

<a class="button-login" href="/session/new">Login to Your Dashboard<a>

<a class="button-register" href="/users/new">Create a new CRC dashboard account</a>

<p>Clinical research coordinators may use this site to manage research study components such as Institutional Review Board due dates, aggregrate patient accrual, and study personnel information. For information on CRCs and certification, please visit: ACRP @ https://www.acrpnet.org/.</p>

<p class="footer">&copy2018</p>