/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   color: #256D9E;
 }

 a {
  color: #256D9E;
 }


.header {
  text-align: center;
  color: #F0F6FA;
}

.button-login {
  font-size: 30px;
  background-color: #F0F6FA;
  border: none;
  color: #256D9E;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 33%;
  margin-top: 3%;
}

.button-register {
  font-size: 30px;
  background-color: #F0F6FA;
  border: none;
  color: #256D9E;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 25%;
  margin-top: 5%;
  margin-bottom: 3%;
}

.footer {
  text-align: center;
  color: #256D9E;
  /* margin-top: 10%; */
}